.full_image{

display:flex;
  align-items:center;
  justify-content:center;

}
#header_image{
  margin:0;
  
  width:100vw;
  
  
  
  #trial{
 padding:10px 20px;
  }
.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}
