body {
    
}
h1{
    text-align:center ;
}
input{
    margin:10px;
 
    width:10cm;
    border:2px solid black;
    border-radius:3px;
    font-size:16px;
    font-weight:bold;
}
button{
    margin:10px;
    padding:5px;
    border:2px solid black;
    border-radius:3px;
    font-size:16px;
    font-weight:bold;
    background-color:mediumseagreen;
}
